body {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

#cabecera {
    font-size: 23px;
    border-bottom: skyblue 3px solid;
    padding:1em;
}

.container {
    border: solid green 3px;
    color:gray;
    width: 300px;
    margin:0px auto;
}

.post {
    font-style: oblique;
    padding-bottom: 1em;
    color:skyblue;
}