body {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.container {
    border: solid green 3px;
    color:gray;
    width: 300px;
    margin:0px auto;
}

.post {
    font-style: oblique;
    padding-bottom: 1em;
    color:skyblue;
}