body {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    border: solid green 3px;
    color:skyblue;
    width: 300px;
    margin:0px auto;
}

.post {
    font-style: oblique;
    padding-bottom: 1em;
}